/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.body {
  background-color: #fff;
}
.navbar {
  a {
    color: var(--bs-blue);
  }
}
.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  width: 50rem;
  font-size: large;
}

.mario_logo {
  height: 300px;
  color: inherit;
  text-align: center;
  background-size: cover;
}

.mario_banner {
  padding-bottom: 50px;
  text-align: center;
  opacity: 0.5;
}

.scopes {
  margin: 0 auto;
  float: inline;
  margin-bottom: 20px;
  padding-bottom: 60px;
  padding-left: 130px;
  display: inline-flexbox;
  font-size: medium;
  width: 130rem;
}

.title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 270px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 30%;
  min-width: 300px;
}
