/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

.body {
  background-color: #fff;
}
.navbar {
  font-size: medium;
}

a {
  color: var(--bs-blue);
}

@media screen and (max-width: 800px) {
  .body {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .body {
    flex: 100%;
    max-width: 100%;
  }
}

#home, #all-products, #new-products {
  color: adjust-hue($color: #3f3f3f, $degrees: 0);
}

#bio {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  width: 60rem;
  font-size: large;
}

.mario_logo {
  height: 300px;
  color: inherit;
  text-align: center;
  background-size: cover;
}

.mario_banner {
  padding-bottom: 50px;
  text-align: center;
  opacity: 0.5;
}

.scopes {
  margin: 0 auto;
  float: inline;
  margin-bottom: 20px;
  padding-bottom: 60px;
  padding-left: 130px;
  display: inline-flexbox;
  font-size: medium;
  width: 130rem;
}

.title {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-left: 270px;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    margin: 0;
  }
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  float: inline;
  padding-left: 100px;
  font-size: large;
}

.paginate {
  padding-left: 80px;
  display: grid;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  float: inline;
  padding-bottom: 10px;
  padding-left: 600px;
  display: inline-flexbox;
  font-size: large;
  width: 130rem;
}

ul {
  text-align: justify;
}
ul:after {
  content: '';
  display: inline-block;
  width: 100%;
}
ul:before {
  content: '';
  display: block;
  margin-top: -1.25em;
}
li {
  display: inline-block;
  margin-right: -.25em;
  position: relative;
  top: 1.25em;
}

.products-title {
  padding-bottom: 50px;
  padding-left: 110px;
  text-align: center;
  opacity: 0.7;
}

#products-page {
  opacity: 0.7;
  background-color: #ceeee0;
  width: 100rem;
  height: 45rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  font-size: large;
  padding-top: 10px;
}


.product-name {
  margin: 0 auto;
  float: none;
  margin-top: 25px;
  margin-bottom: 35px;
  display: grid;
  text-align: center;
  padding-right: 170px;
}


.country-cost {
  margin-left: 210px;
  padding: 10px;
  padding-left: 30px;
  padding-bottom: 50px;
  text-align: center;
  width: 50rem;
}

.country-cost h4:first-of-type {
  float: left;
}

.country-cost h4:last-of-type {
  float: right;
}

#review-link {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 70px;
  display: flex;
}

#review-link h3 {
  float: left;
}

#review-link li:last-of-type {
  float: right;
}

.product-links {
  margin-left: 300px;
  padding: 10px;
  padding-left: 60px;
  padding-bottom: 60px;
  text-align: center;
  width: 35rem;
}

.product-links p:first-of-type {
  float: left;
}

.product-links p:last-of-type {
  float: right;
}

.admin-btn {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  display: grid;
  text-align: center;
}

#reviews-page {
  opacity: 0.7;
  background-color: #ceeee0;
  width: 100rem;
  height: 40rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  font-size: large;
  padding-top: 10px;
}

.rating-body {
  margin: 0 auto;
  float: none;
  width: 100rem;
  display: grid;
  text-align: center;
  padding-right: 170px;
}

.review-title {
  margin: 0 auto;
  float: none;
  margin-top: 25px;
  margin-bottom: 35px;
  display: grid;
  text-align: center;
  padding-right: 170px;
}

.return-link {
  padding-top: 20px;
}

.edit-reviews, .add-reviews {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  display: flex;
  text-align: center;
  font-size: large;
}

.edit-product, .new-product {
  margin: 0 auto;
  margin-bottom: 10px;
  display: flex-inline;
}

.new-prod-title, .edit-prod-title {
  text-align: center;
}