<div class="container">
  <div class="title-container">
    <div class="edit-product">
      <h2 class="edit-prod-title">Edit Product</h2>
      <%= render "layouts/product_form" %>
    </div>
  </div>
</div>
