<div class="title-container">
  <div class="products-title">
    <div class="jumbotron jumbotron-fluid" style="background-color:#ceeee0;">
      <div class="container">
        <h2>Products</h2>
      </div>
    </div>
  </div>
</div>
<% if @products.any? %>
  <div class="list-group">
    <% @products.each do |product| %>
      <div class="products-list">
        <div class="title-container">
          <a class="list-group-item list-group-item-action"
            <%= link_to product.name, product_path(product) %>
          </a>
          </div>
        </div>
      <% end %>
      <div class="paginate">
        <%= will_paginate @products, renderer: BootstrapPagination::Rails,
    previous_label: 'Previous', next_label: 'Next' %>
      </div>
    </div>
  <% else %>
    <p>There are no products yet.</p>
  <% end %>
