<h3>Welcome!</h3>
<p>Mario's is a mushroom kingdom-based specialty store run by a family.
You can find one-of-a-kind things from all over the world. Take a look around, maybe buy something, and write a review! 
<h1>Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %> 
  <p>There are no products yet.</p>
<% end %>


<p><%= link_to "Create new product", new_product_path %></p>