<div class="title-container">
  <div class="products-title">
    <div class="jumbotron jumbotron-fluid" style="background-color:#ceeee0;">
      <div class="container">
        <h2>Products</h2>
      </div>
    </div>
  </div>
</div>
<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <div class="products">
        <div class="row">
          <div class="col-sm-3 col-md-6 col-lg-4">
            <div class="title-container">
              <p>
                <li><%= link_to product.name, product_path(product) %></li>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>
