<div class="container">
  <div class="title-container">
    <div class="new-product">
      <h2 class="new-prod-title">New Product</h2>
      <%= render "layouts/product_form" %>
    </div>
  </div>
</div>
