<header>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button class="btn btn-link"><%= link_to "Home", root_path, class: "nav-brand" %></button>
        </div>

      <ul class="nav navbar-nav navbar-right">  
        <button class="btn btn-link"><%= link_to "All Products", products_path %></button>
        <button class="btn btn-link"><%= link_to "New Product", new_product_path %></button>
      </ul>
    </div>
  </nav>
</header>